.carousel {
  margin-top: 5%;
}

.captions {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}

.carousel-image {
  height: 800px;
  object-fit: cover;
}

.catagories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px 30px;
  gap: 30px;
  margin-top: 30px;
  margin: 2%;
}

.box {
  margin: 0px 0px;
  height: 200px;
  background-size: cover;
  color: white;
  border: none;
  outline: none;
  border-radius: 12px;
  transition: 0.3s ease;

}

.box h2 {
  margin: 48px;
  text-shadow: 0px 0px 6px black;
  filter: brightness(100%);
}

.box:hover {
  color: black;
  /* filter: brightness(70%); */
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* scale: 1.01; */
}

.box:hover>h2 {
  filter: blur(0px);
  text-shadow: 0px 0px 0px black;
}

.bricks {
  background-image: url("./assets/bricks.jpg");
}

.exterior {
  background-image: url("./assets/exterior decor.jpg");
}

.murals {
  background-image: url("./assets/murals.jpg");
}

.statues {
  background-image: url("./assets/statues.jpg");
}

.stepping {
  background-image: url("./assets/stepping stones.jpg");
}

.walls {
  background-image: url("./assets/walls.jpg");
}

.categories-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  padding: 0px 30px 30px 30px;
  gap: 30px;
  transition: 0.3s ease;
}

.listing {
  width: 96%;
  margin: 5% 2%;
  padding: 2%;
  border-radius: 18px;
  /* background-color: lightcoral; */
  /* border: 1px solid lightgray; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.list-title {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 38px;
}

.list-title > h2 {
  font-size: 48px;
}

.list-title > button {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none;
  outline: none;
  background-color: white;
  padding: 8px 16px;
  border-radius: 18px;
  transition: 0.3s ease;
}

.list-title > button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bricks-list {
  display: flex;
  justify-content: space-between;
  /* flex-flow: column wrap; */
  /* counter-reset: items; */
  /* align-items: space-between; */
  /* background-color: aquamarine; */
}

.item {
  width: 400px;
  /* max-height: 600px; */
  /* background-color: lightcoral; */
  border-radius: 24px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  transition: 0.3s ease;
  cursor: pointer;
}

.item:hover {
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  scale: 1.01;
}

.item > img {
  /* max-height: 400px; */
  width: 90%;
  margin: 5%;
  aspect-ratio: 1;
  object-fit: contain;
  /* background-color: lightblue; */
}

.item > p {
  /* background-color: lightgreen; */
  display: flex;
  justify-content: space-around;
  padding: 2%;
  /* text-align: center; */
}

.wash {
  background-image: url("./assets/wash_basin.jpg");
}

.home-acc {
  background-image: url("./assets/home_acc.jpg");
}

.adhesive {
  background-image: url("./assets/adhesive.jpg");
}

.plants {
  background-image: url("./assets/pots.jpg");
}

.blank {
  height: 100vh;
}

.footer {
  background-color: #272727;
  padding: 5%;
  color: white;
}

@media only screen and (max-width: 768px) {
  .catagories {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .catagories {
    grid-template-columns: 1fr;
  }

  .categories-grid {
    grid-template-columns: 1fr;
  }

  .show_more>h2 {
    padding: 2px 100px;
  }
}

